src/SmartNota.Util/Service References/NFSe.WS.SJC.PedidoEnvioRPS/PedidoEnvioRPS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="PedidoEnvioRPS" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://rpc.xml.coldfusion" xmlns:impl="PedidoEnvioRPS" targetNamespace="PedidoEnvioRPS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rpc.xml.coldfusion">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="CFCInvocationException">
        <xsd:sequence />
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RetornoEnvioRPSResponse">
    <wsdl:part name="RetornoEnvioRPSReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="CFCInvocationException">
    <wsdl:part name="fault" type="tns1:CFCInvocationException" />
  </wsdl:message>
  <wsdl:message name="PedidoEnvioRPSResponse">
    <wsdl:part name="PedidoEnvioRPSReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="RetornoEnvioRPSRequest">
    <wsdl:part name="sucesso" type="xsd:boolean" />
    <wsdl:part name="pid" type="xsd:double" />
    <wsdl:part name="mobi" type="xsd:double" />
    <wsdl:part name="NumeroRPS" type="xsd:string" />
    <wsdl:part name="SerieRPS" type="xsd:string" />
    <wsdl:part name="DocumentoPrestador" type="xsd:string" />
    <wsdl:part name="InscricaoMunicipal" type="xsd:string" />
    <wsdl:part name="DataEmissao" type="xsd:string" />
    <wsdl:part name="DataConversao" type="xsd:string" />
    <wsdl:part name="hashOperacao" type="xsd:string" />
    <wsdl:part name="NumeroNFe" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="PedidoEnvioRPSRequest">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
    <wsdl:part name="xmlPedido" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="PedidoEnvioRPS">
    <wsdl:operation name="PedidoEnvioRPS" parameterOrder="username password xmlPedido">
      <wsdl:input name="PedidoEnvioRPSRequest" message="impl:PedidoEnvioRPSRequest" />
      <wsdl:output name="PedidoEnvioRPSResponse" message="impl:PedidoEnvioRPSResponse" />
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException" />
    </wsdl:operation>
    <wsdl:operation name="RetornoEnvioRPS" parameterOrder="sucesso pid mobi NumeroRPS SerieRPS DocumentoPrestador InscricaoMunicipal DataEmissao DataConversao hashOperacao NumeroNFe">
      <wsdl:input name="RetornoEnvioRPSRequest" message="impl:RetornoEnvioRPSRequest" />
      <wsdl:output name="RetornoEnvioRPSResponse" message="impl:RetornoEnvioRPSResponse" />
      <wsdl:fault name="CFCInvocationException" message="impl:CFCInvocationException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PedidoEnvioRPS.cfcSoapBinding" type="impl:PedidoEnvioRPS">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="PedidoEnvioRPS">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="PedidoEnvioRPSRequest">
        <wsdlsoap:body use="encoded" namespace="PedidoEnvioRPS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="PedidoEnvioRPSResponse">
        <wsdlsoap:body use="encoded" namespace="PedidoEnvioRPS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" name="CFCInvocationException" namespace="PedidoEnvioRPS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetornoEnvioRPS">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="RetornoEnvioRPSRequest">
        <wsdlsoap:body use="encoded" namespace="PedidoEnvioRPS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="RetornoEnvioRPSResponse">
        <wsdlsoap:body use="encoded" namespace="PedidoEnvioRPS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
      <wsdl:fault name="CFCInvocationException">
        <wsdlsoap:fault use="encoded" name="CFCInvocationException" namespace="PedidoEnvioRPS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PedidoEnvioRPSService">
    <wsdl:port name="PedidoEnvioRPS.cfc" binding="impl:PedidoEnvioRPS.cfcSoapBinding">
      <wsdlsoap:address location="https://acessonfe.sjc.issqn.com.br/ws/PedidoEnvioRPS.cfc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>